.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.closebutton {
    position: absolute;
    right: 0;
}

.username {
    position: absolute;
    left: 0;
}